<?xml version="1.0"?>
<launch>

<arg name="model" default="$(find diff_drive)/urdf/web-diff_drive_urdf.xacro"/>
<arg name="gui" default="false"/>

<!-- Launch gazebo -->
<include file="$(find diff_drive)/launch/gazebo.launch">
  <arg name="model" value="$(arg model)"/>
  <arg name="gui" value="$(arg gui)"/>
 </include>

 <rosparam file="$(find diff_drive)/config/joint_states.yaml" command="load"/>

 <rosparam file="$(find diff_drive)/config/diff_drive.yaml" command="load"/>


 <!-- load the controllers -->
 <node name="robot_arm_controller_spawner" pkg="controller_manager" type="spawner"
   respawn="true" output="screen"
    args="/Diff_Drive/joint_state_controller
          /Diff_Drive/diff_drive_controller
         --shutdown-timeout 3"/>

 <!-- convert joint states to TF transforms for rviz, etc -->
 <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
     respawn="false" output="screen">
 </node>
 <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"
     respawn="false" output="screen">
 </node>



</launch>
